$ngui-theme-dark-color: #20262E;
$ngui-theme-primary-color: #913175;
$ngui-theme-secondary-color: #CD5888;
$ngui-theme-light-color: #E9E8E8;

$ngui-dark-color: $ngui-theme-dark-color;
$ngui-action-color: $ngui-theme-primary-color;
$ngui-danger-color: $ngui-theme-secondary-color;
$ngui-light-color: $ngui-theme-light-color;
$ngui-white: #ffffff;
$ngui-black: #000000;
$ngui-muted: #53585f;
